---
import MainLayout from "@layouts/MainLayout.astro";
import Search from "@components/search.svelte";
import SearchItem from "@components/search-item.svelte";
import type { Operator } from "@scripts/operatorTypes";
import { removeSpace, toSlug } from "@scripts/slugGen";
import { Image } from "@astrojs/image/components";

let operatorList = new Array();
let operatorListSearchable = new Array();

await fetch(
  "https://raw.githubusercontent.com/Kengxxiao/ArknightsGameData/master/en_US/gamedata/excel/character_table.json"
)
  .then((response) => response.json())
  .then((data) => {
    operatorList = Object.entries(data)
      .filter(([technicalName, data]) => {
        const operator = data as Operator;
        return (
          operator.profession !== "TOKEN" && operator.profession !== "TRAP"
        );
      })
      .map(([technicalName, data]) => {
        const operator = data as Operator;
        return {
          name: operator.name,
          slug: toSlug(operator.name),
          imageLink: operator.phases[0].characterPrefabKey,
          rarity: operator.rarity,
        };
      })
      .sort((a, b) => a.name.localeCompare(b.name))
      .sort((a, b) => b.rarity - a.rarity);
    operatorListSearchable = Object.entries(data)
      .filter(([technicalName, data]) => {
        const operator = data as Operator;
        return (
          operator.profession !== "TOKEN" && operator.profession !== "TRAP"
        );
      })
      .map(([technicalName, data]) => {
        const operator = data as Operator;
        return {
          trueSlug: removeSpace(operator.name),
          slug: toSlug(operator.name),
          rarity: operator.rarity,
        };
      })
      .sort((a, b) => a?.slug.localeCompare(b?.slug))
      .sort((a, b) => b.rarity - a.rarity);
  });

const title = `Arkdex ▪ Operators`;
const ogTitle = `Arkdex Operator Listing Page`;
---

<MainLayout title={title} ogTitle={ogTitle} alwaysScrollbar={true}>
  <section style="opacity: 0">
    <h1>Operators</h1>
    <div>
      <Search client:load operatorList={operatorListSearchable} />
    </div>
    <ul class="operator-grid">
      {
        operatorList.map((operator) => {
          const img = `https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avatars/${operator.imageLink}.png`;
          return (
            <SearchItem client:load {operator}>
              <Image
                src={img}
                alt=""
                format={"webp"}
                width={108}
                height={108}
                class="image"
              />
            </SearchItem>
          );
        })
      }
    </ul>
  </section>
</MainLayout>

<style lang="scss">
  // Fix FOUC

  section {
    opacity: 1 !important;
  }

  // General Styles

  section > * + * {
    margin-top: 1rem;
  }

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  // Main Styles

  .operator-grid {
    --grid-width: 4.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, var(--grid-width));
    justify-content: center;
    gap: 0.25rem;
    align-content: center;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
