---
import MainLayout from "@layouts/MainLayout.astro";
import Search from "@components/search.svelte";
import type { Operator } from "@scripts/operatorTypes";
import type { SearchItem } from "@scripts/searchTypes";
import { removeSpace, toSlug } from "@scripts/slugGen";
import { getPicture } from "@astrojs/image";

let operatorList: Array<SearchItem> = [];

await fetch(
  "https://raw.githubusercontent.com/Kengxxiao/ArknightsGameData/master/en_US/gamedata/excel/character_table.json"
)
  .then((response) => response.json())
  .then((data) => {
    operatorList = Object.entries(data)
      .filter(([technicalName, data]) => {
        const operator = data as Operator;
        return (
          operator.profession !== "TOKEN" && operator.profession !== "TRAP"
        );
      })
      .map(([technicalName, data]) => {
        const operator = data as Operator;
        return {
          name: operator.name,
          slug: toSlug(operator.name),
          trueSlug: removeSpace(operator.name),
          image: `https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avatars/${operator.phases[0].characterPrefabKey}.png`,
          rarity: operator.rarity,
        };
      })
      .sort((a, b) => a.name.localeCompare(b.name))
      .sort((a, b) => b.rarity - a.rarity);
  });

for (let operator of operatorList) {
  operator.image = await getPicture({
    src: operator.image.toString(),
    widths: [108],
    formats: ["avif", "webp", "png"],
    aspectRatio: "1:1",
  });
}

const title = `Arkdex ▪ Operators`;
const ogTitle = `Arkdex Operator Listing Page`;
---

<MainLayout title={title} ogTitle={ogTitle} alwaysScrollbar={true}>
  <section style="opacity: 0">
    <h1>Operators</h1>
    <Search client:idle operatorList={operatorList} />
  </section>
</MainLayout>

<style lang="scss">
  // Fix FOUC

  section {
    opacity: 1 !important;
  }

  // General Styles

  section > * + * {
    margin-top: 1rem;
  }

  h1 {
    text-align: center;
  }

  // Main Styles

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
